.credits {
     border-top: 1px solid #ddd;
     margin-top: 40px;
     padding-top: 20px;
 }

 .aside {
   border-right: 10px;
   font-size: 20px;
 }

body {
  background: #edeff0;
}

.navbar {
  margin-bottom: 0px;
}
