extends layout

block content
  h1= title
  p Hi #{user.firstName}
  p Your email is #{user.email}
  p Your mobile number is #{user.mobileNumber}
  p
    a(href='http://localhost:3000/users/logout') Logout
