extends layout
block content
  section.container-fluid
    .row
      .col-md-6.col-md-offset-3
        header(class='text-center' style='margin:auto;')
          h1 Login to Catch Up
        if error
          div(class='alert alert-danger')= error
        .form-container
          form(method='post')
            div(class='form-group')
              label(for='email') Email
              input(class='form-control' type='email', id='email', name='email', placeholder='Email')
            div(class='form-group')
              label(for='password') Password
              input(class='form-control' type='password', id='password', name='password', placeholder='Password')
            button(class='btn btn-primary' type='submit', name='') Login
        div(class='text-center login-help')
          p
           | Forgot your password?
           a(href='') Click here to reset it.
