nav(class='navbar navbar-inverse')
      .container-fluid
        .navbar-header
          a(class='navbar-brand' href='#') Catch Up!
        ul(class='nav navbar-nav navbar-right')
          li
            a(href='signup')
              span(class='glyphicon glyphicon-user')
              |  Sign Up
          li
            a(href='login')
              span(class='glyphicon glyphicon-log-in')
              |  Login
    